


#sidebar {
  width: 80%; /* Wider on mobile */
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}



.school-stats {
    flex-direction: column;
    padding: 30px 10px;
}
            
.stat-item {
    margin-bottom: 30px;
    min-width: 150px;
}
            
.stat-icon {
    font-size: 40px;
}
            
.stat-number {
    font-size: 28px;
}

.stat-label {
    font-size: 16px;
}



.video {
  max-width: 500px; /* or 400px, depending on how small you want it */
  width: 100%;      /* makes it responsive */
  height: auto;     /* keeps the aspect ratio */
  display: block;
  margin: auto;
 }




.grid-container {
  display: grid;
  grid-template-columns: 1fr; /* default: one column (for phone) */
  gap: 20px; /* spacing between items */
}

/*.contact-item {
    font-size: 14px;
  }*/



  .contact-item {
    font-size: 14px;
    flex-wrap: wrap; /* Allow wrapping */
    align-items: flex-start; /* Align items to the top */
  }

  .contact-item i {
    margin-right: 10px;
    font-size: 20px; /* Adjust if needed */
    color: #333;
    flex-shrink: 0;
  }

  .contact-item span,
  .contact-item a {
    font-size: 14px;
    color: #333;
    text-decoration: none;
    line-height: 1.5;
    display: inline; /* Ensure text flows naturally */
    white-space: normal; /* Allow wrapping at any point */
  }

        
