
html {
  scroll-behavior: smooth; /* Optional */
  scroll-padding-top: 55px; /* Equal to your navbar height */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  padding: 30px 0;
}

section {
  margin: 60px 0;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  padding-top: 60px;  /* Make room for navbar */
 }

#sidebar {
  width: 80%; /* Wider on mobile */
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.contact-item {
    font-size: 14px;
  }
}

.school-stats {
    flex-direction: column;
    padding: 30px 10px;
}
            
.stat-item {
    margin-bottom: 30px;
    min-width: 150px;
}
            
.stat-icon {
    font-size: 40px;
}
            
.stat-number {
    font-size: 28px;
}

.stat-label {
    font-size: 16px;
}

figure {
  margin-bottom: 20px;
}


.video {
  max-width: 500px; /* or 400px, depending on how small you want it */
  width: 100%;      /* makes it responsive */
  height: auto;     /* keeps the aspect ratio */
  display: block;
  margin: auto;
 }


figcaption {
  text-align: center;
  font-size: 14px;
  color: #444;
  margin: 10px,0;
  font-weight:bold;
}

        
